.puzzle-container {
    height: 100%;
    position: fixed;
    width: 30%;
    padding-top: 2rem;
}

.info-container {
    padding: 2rem;
    height: 100%;
    position: fixed;
    right: 0;
    width: 70%;
}

.puzzle-container .board-container {
    width: 360px;
    height: 360px;
    margin: 0 auto 0 auto;
    background-color: #33b5e5;
    box-shadow: inset 3px 3px 3px 0 rgba(255, 255, 255, 0.15), inset -3px -3px 3px rgba(0, 0, 0, 0.25);
}

.puzzle-container .control-container {
    max-width: 360px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
}

.puzzle-container .result-container {
    max-width: 360px;
    margin: 2rem auto 0 auto;
}

.puzzle15 {
    position: relative;
}

.puzzle15 .cell {
    color: #fff;
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    font-size: 35px;
    text-align: center;
    line-height: 90px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    text-shadow: #f6f6f5 1px 1px 2px, #9c9c8b -1px -1px 2px;
    box-shadow: inset 3px 3px 3px 0px rgba(255, 255, 255, 0.15), inset -3px -3px 3px rgba(0, 0, 0, 0.25);
}

.md-tabs {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #33b5e5;
    border: 0;
    padding: .7rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    z-index: 1;
    margin-bottom: -20px;
    position: relative;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
}

.md-tabs .nav-link.active {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
}

.nav-tabs .nav-link.active {
    border-color: #dee2e6 #dee2e6 #fff;
}

.md-tabs .nav-link {
    color: #fff;
    border: 0;
}

.tab-content {
    padding: 2rem;
}

#myTabContentMD {
    max-height: 500px;
    overflow: auto;
}

@media screen and (max-width: 1023px) and (min-width: 0px) {
    .puzzle-container {
        position: relative;
        margin: 0 auto 0 auto;
        width: auto;
        padding: 0;
    }

    .info-container {
        padding: 5rem 0 5rem 0;
        margin: 0 auto 0 auto;
        width: auto;
        position: relative;
    }

    .tab-content {
        padding: 1rem;
    }

    .md-tabs {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1365px) and (min-width: 1024px) {
    .puzzle-container {
        width: 40%;
    }

    .info-container {
        width: 60%;
    }
}


